<%- include layouts/header.ejs %>

    <div class="container">
    <h1><%= title %></h1>

    <% a = 3+23 %>
    <% b = 5+30 %>
    <p>Welcome to <%= title %> <%= a%></p>

  




  </div>
  <%- include layouts/footer.ejs %>
  
